.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .list-group-item {
    padding: 10px !important;
  }
  .fw-bold {
    font-size: 1rem !important;
  }
  .btn-sm {
    font-size: 15px !important;
  }
}

.booking-card:hover {
  box-shadow: 0 6px 32px #00b8ff33, 0 2px 8px #ffd60044;
  border-color: #ffd600;
}

.booking-summary-row:active {
  background: #fffbe7 !important;
}
